body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding:0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #000;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #fff !important;
}
.sidebar .nav-link.brdr{
  border-bottom: 1px solid #fff;
}
.sidebar #navbarToggleExternalContent {
  background-color: #333
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .active{
  color: #333;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  
  color: #b760e3 !important;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.opt-botm{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.opt-botm .nav-link{
  font-size: 15px;
  color: #999;
}
.opt-botm .nav-link:hover{color: rgb(3,153,255);}
.card-columns .card-header .fa-bookmark{font-size: 25px;}
.card-columns .card-header .img-box{
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.card{border-radius: 10px;}
.card:hover{box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2)}
.card-columns .card-header .img-box img{
  object-fit: cover;
  object-position: center;
  width: 
}
.card-columns .card-header .cmpny-titl{
  color: rgb(3,153,255);
  font-weight: bold;
}
.card-columns .card-footer{background: transparent;}
.summary {
  font-size: 14px;
  line-height: 1.5;
}

.summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.summary p.collapsing {
    min-height: 42px !important;
}

.summary a.collapsed:after  {
    content: '+ Read More';
}

.summary a:not(.collapsed):after {
    content: '- Read Less';
}